{% extends 'fplbase.html' %}

{% block head %}
{% endblock head%}

{% block body %}

<div class="container">
    <div class="row justify-content-md-center pt-3">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!
                </h1>
                <h2>
                    Error
                </h2>
                <div class="error-details">
                    {{error_message}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}