
{% extends 'fplbase.html' %}

{% block head %}
{% endblock head%}

{% block body %}

<div class="container-fluid">
  <div class="row justify-content-lg-center pt-3">
    <div class="row">
      <div class="container col">
      <!--League Table-->
        <table class="table table-striped table-dark table-hover league-table">
          <thead>
            <tr >
              <th colspan="8" class="text-center">League Table</th>
            </tr>
            <tr>
              <th scope="col">Pos</th>
              <th scope="col">Prev</th>
              <th scope="col">Team</th>
              <th scope="col">GW</th>
              <th scope="col">Total</th>
              <th scope="col">Behind</th>
              <th scope="col">Transfers</th>
              <th scope="col">Bench</th>
            </tr>
          </thead>
          <tbody>
              {% set leader_points = league_info[0].total_points[-1] %}
              {% for member in league_info %}
                <tr data-toggle="modal" data-target="#newModal{{member.team_id}}">
                  <td>{{loop.index}}</td>
                  {%if member.rank > member.last_rank %}
                    <td><span class="down-arrow">▼ </span>{{member.last_rank}}</td>
                  {% elif member.rank < member.last_rank %}
                    <td><span class="up-arrow">▲ </span>{{member.last_rank}}</td>
                  {% else %}
                    <td>-</td>
                  {% endif %}
                    <td>{{member.team_name}}</td>
                    <td>{{member.gw_points[-1]}}</td>
                    <td>{{member.total_points[-1]}}</td> 
                    <td>{{member.total_points[-1] - leader_points}}</td>  
                    <td>{{member.gw_transfers[-1]}} ({{member.gw_transfer_cost[-1]  * -1}})</td>
                    <td>{{member.gw_bench_points[-1]}}</td>
                </tr>
              {% endfor %} 
          </tbody>
        </table>
      </div>
      <div class="container col">
      <!--Chips Table-->
        <table class="table table-striped table-dark table-hover league-table">
          <thead>
            <tr >
              <th colspan="3" class="text-center">Chips Used</th>
            </tr>
            <tr>
              <th scope="col">Team</th>
              <th scope="col">Chip</th>
              <th scope="col">GW</th>
            </tr>
          </thead>
          <tbody>
              {% for chip in chip_used_list %}
                <tr>
                  <td>{{chip.team_name}}</td>
                  <td class = "align-middle" style="margin: 0px; padding: 0px;" data-toggle="tooltip" data-placement="top" title="{{chip.name}}">
                    <img src="static/images/{{chip.name}}-icon.png" class="chip-icon"> 
                  </td>
                  <td>{{chip.gw_used}}</td> 
                </tr>
              {% endfor %} 
          </tbody>
        </table>
        
        <table class="table table-striped table-dark table-hover league-table">
          <thead>
            <tr>
              <th scope="col">Chip</th>
              <th scope="col">Percent Used</th>
            </tr>
          </thead>
          <tbody>
              {% for k, v in chip_count_dict.items() %}
                <tr>
                  <td>{{k}}</td>
                  <td class="align-middle">
                    <div class="progress {{'position-relative' if (v/league_info|length)*100 < 50 else ''}}">
                      <div  class="progress-bar progress-bar-striped progress-bar-animated bg-primary text-nowrap" 
                            role="progressbar" style="width: {{"{0:.0%}".format(v/league_info|length)}}" 
                            aria-valuenow="{{(v/league_info|length)*100}}" aria-valuemin="0" aria-valuemax="100">
                            {% if (v/league_info|length)*100 < 50%}
                              <span class="justify-content-center d-flex position-absolute w-100 text-dark font-weight-bold" >{{"{0:.0%}".format(v/league_info|length)}}</span>
                            {% else %}
                              {{"{0:.0%}".format(v/league_info|length)}}
                            {% endif %}
                      </div> 
                    </div>
                  </td>
                </tr>
              {% endfor %} 
          </tbody>
        </table>
        <table class="table table-striped table-dark table-hover table-responsive league-table">
          <thead>
            <tr >
              <th colspan="3" class="text-center">Most Points In Single GW</th>
            </tr>
            <tr>
              <th scope="col">Team</th>
              <th scope="col">GW</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
          <tbody>
              {% for i in most_points_single_gw %}
                <tr>
                    <td>{{i.team_name}}</td>
                    <td>{{i.gw}}</td>
                    <td>{{i.points}}</td> 
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="container col">
      <!--Bank Table-->
        <table class="table table-striped table-dark table-hover league-table">
          <thead>
            <tr >
              <th colspan="5" class="text-center">Value</th>
            </tr>
            <tr>
              <th scope="col">Team</th>
              <th scope="col">Total</th>
              <th scope="col">Team</th>
              <th scope="col">Bank</th>
              <th scope="col">Change</th>
            </tr>
          </thead>
          <tbody>
              {% for member in sorted_value %}
                <tr data-toggle="modal" data-target="#teamValueModal{{member.team_id}}">
                  <td>{{member.team_name}}</td>
                  <td>{{member.total_value[-1]}}</td>
                  <td>{{member.team_value[-1]}}</td> 
                  <td>{{member.bank[-1]}}</td>
                  {%if member.gw_value_diff[-1] < 0 %}
                    <td><span class="down-arrow">▼ </span>{{"%.2f"|format(member.gw_value_diff[-1])}}</td>
                  {% elif member.gw_value_diff[-1] > 0 %}
                    <td><span class="up-arrow">▲ </span>{{"%.2f"|format(member.gw_value_diff[-1])}}</td>
                  {% else %}
                    <td> - </td>
                  {% endif %}
                </tr>
              {% endfor %} 
          </tbody>
        </table>
      </div>
      <div class="container col">
      <!--Past Seasons Table-->
        <table class="table table-striped table-dark table-hover league-table">
          <thead>
            <tr >
              <th colspan="2" class="text-center">Season History</th>
            </tr>
            <tr>
              <th scope="col">Team</th>
              <th scope="col">Past Seasons</th>
            </tr>
          </thead>
          <tbody>
              {% for member in league_info %}
                <tr data-toggle="modal" data-target="#pastSeasonsModal{{member.team_id}}">
                  <td>{{member.team_name}}</td>
                  <td>{{member['past_seasons']|length}}</td>
                </tr>
              {% endfor %} 
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="container col">
        <div class='table-wrapper'>
        <table class="table table-striped table-dark table-hover league-table">
          <thead>
          <tr >
              <th colspan="3" class="text-center">Most Points Per GW</th>
            </tr>
            <tr>
              <th scope="col">GW</th>
              <th scope="col">Team</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
          <tbody>
              {% for gw in max_points_per_gw %}
                <tr>
                  <td>{{gw['gw']}}</td>
                  <td>{{gw['team_name']}}</td>
                  <td>{{gw['points']}}</td>
                </tr>
              {% endfor %} 
          </tbody>
        </table>
        </div>
      </div>
    
      <div class="container col">
        <table class="table table-striped table-dark table-hover table-responsive league-table">
          <thead>
            <tr>
              <th colspan="2" class="text-center">GW Leader Count</th>
            </tr>
            <tr>
              <th scope="col">Team</th>
              <th scope="col">Count</th>
            </tr>
          </thead>
          <tbody>
              {% for item in count_gw_leader %}
                {% if item[1] > 0 %}
                  <tr>
                      <td>{{item[0]}}</td>
                      <td>{{item[1]}}</td> 
                  </tr>
                {% endif %}
              {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="container col">
        <table class="table table-striped table-dark table-hover league-table">
          <thead>
          <tr >
              <th colspan="3" class="text-center">Lowest Points Per GW</th>
            </tr>
            <tr>
              <th scope="col">GW</th>
              <th scope="col">Team</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
          <tbody>
            {% for gw in min_points_per_gw %}
              <tr>
                <td>{{gw['gw']}}</td>
                <td>{{gw['team_name']}}</td>
                <td>{{gw['points']}}</td>
              </tr>
            {% endfor %} 
          </tbody>
        </table>
      </div>
      <div class="container col">
        <table class="table table-striped table-dark table-hover table-responsive league-table">
          <thead>
            <tr>
              <th colspan="2" class="text-center">GW Lowest Count</th>
            </tr>
            <tr>
              <th scope="col">Team</th>
              <th scope="col">Count</th>
            </tr>
          </thead>
          <tbody>
              {% for item in count_gw_lowest %}
                {% if item[1] > 0 %}
                  <tr>
                      <td>{{item[0]}}</td>
                      <td>{{item[1]}}</td> 
                  </tr>
                {% endif %}
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="row">
      <div class="container col-md-3">
        <table class="table table-striped table-dark table-hover ">
          <thead>
            <tr>
              <th scope="col">Team Player List</th>
            </tr>
          </thead>
          <tbody>
            {% for member in fpl_players %}
              <tr data-toggle="modal" data-target="#playerListModal{{member.team_id}}">
                <td>{{member['team_name']}}</td>
              </tr>
            {% endfor %} 
          </tbody>
        </table>
      </div>
      <div class="container col-md-3"> 
        <table class="table table-striped table-dark table-hover league-table">
          <thead>
            <tr >
              <th colspan="3" class="text-center">Chips Used</th>
            </tr>
            <tr>
              <th scope="col">Team</th>
              <th scope="col">Chips</th>
              
            </tr>
          </thead>
          <tbody>
              {% for chip in league_chips %}
                {% if chip.chips %}
                <tr>
                  <td class="align-middle">{{chip.team_name}}</td>
                  <td  class="align-middle" style="padding:0px; margin: 0px;">
                  {% for item in chip.chips%}
                      <img src="static/images/{{item}}-icon.png" class="chip-icon" data-toggle="tooltip" data-placement="top" title="{{item}}"> 
                  {% endfor %}
                  </td>
                  
                </tr>
                {% endif %}
              {% endfor %} 
          </tbody>
        </table>
      </div>
    </div>
    <!--Charts-->
    <div class="main_wrapper">
      <div class="canvas_wrapper pb-3">
          <canvas id='myChart1'class="canvas chart-area"></canvas>
          <select class = "selectData1" id ='selectData1'>
            <option value = "total_points" selected>Total Points</option>
            <option value = "total_bench_points">Total Bench Points</option>
            <option value = "team_value">Team Value</option>
            <option value = "total_value">Total Value</option>
          </select> 
      </div>
      <div class="canvas_wrapper pb-3">
          <canvas id= 'myChart2' class="canvas chart-area"></canvas>
          <select class = "selectData2" id ='selectData2'>
            <option value = "gw_points" selected>Game Week Points</option>
            <option value = "gw_bench_points">Game Week Bench Points</option>
            <option value = "bank">Money In Bank</option>
          </select>
      </div>
    </div>
    <div class="main_wrapper pb-3">
      <div class="canvas_wrapper pb-3">
          <canvas id='myChart3'class="canvas chart-area"></canvas>
          <select class = "selectData3" id ='selectData3'>
            <option value = "total_transfer_cost" selected>Total Transfer Hit Points</option>
            <option value = "total_transfers">Total Transfers</option>
          </select> 
      </div>
      <div class="canvas_wrapper pb-3">
          <canvas id= 'myChart4' class="canvas chart-area"></canvas>
          <select class = "selectData4" id ='selectData4'>
            <option value = "gw_transfer_cost" selected>Game Week Transfer Hits</option>
            <option value = "gw_transfers">Game Week Transfers</option>
          </select>
      </div>
    </div>
</div>


<!-- Game Week Points Modal -->
{% for member in league_info %}
  <div class="modal fade" id="newModal{{member.team_id}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="newModalLabel">{{member.team_name}} - Points per Game Week</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">    
            <div class="row">
              <div class="col-md-12">
                <table class="table table-striped table-dark table-hover ">
                  <thead>
                    <tr>
                      <th scope="col">GW</th>
                      <th scope="col">Points</th>
                      <th scope="col">Rank</th>
                      <th scope="col">Transfers</th>
                      <th scope="col">Bench</th>
                      <th scope="col">Chips</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% set count = [1] %}
                      {% for i in range(1, member.gw_points|length) %}
                          <tr>
                            <td>{{i}}</td>
                            <td>{{member.gw_points[i]}}</td>
                            <td>{{"{:,}".format(member.gw_rank[i])}}</td>
                            <td>{{member.gw_transfers[i]}}({{member.gw_transfer_cost[i] * -1}})</td>
                            <td>{{member.gw_bench_points[i]}}</td>
                            {% if member['chips']|length < 1 %}
                            <td>  </td>
                            {%endif%}
                            {% for chip in member['chips'] %}
                              {% if i == chip['gw_used'] %}
                                <td class='align-middle' style="margin: 0px; padding: 0px;"><img src="static/images/{{chip['name']}}-icon.png" class="chip-icon" data-toggle="tooltip" data-placement="top" title="{{chip['name']}}"></td>
                              {% else %}
                                <td> </td>
                              {% endif %}
                            
                            {% endfor %}
                            
                          </tr>
                        {% set var = count.append(1) %}
                      {% endfor %} 
                  </tbody>
                </table>
            </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}


<!-- Past Seasons Modal -->
{% for member in league_info %}
  <div class="modal fade" id="pastSeasonsModal{{member.team_id}}" tabindex="-1" role="dialog" aria-labelledby="pastSeasonsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="pastSeasonsModalLabel">{{member.team_name}} - Past Seasons</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">    
              <div class="row">
                <div class="col-md-12">
                  {%if member.past_seasons %}
                  <table class="table table-striped table-dark table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Season</th>
                      <th scope="col">Total Points</th>
                      <th scope="col">Rank</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for season in member.past_seasons%}
                            <tr>
                              <td>{{season.year}}</td>
                              <td>{{season.past_total_points}}</td>
                              <td>{{"{:,}".format(season.finishing_rank)}}</td>
                            </tr>
                      {% endfor %} 
                  </tbody>
                </table>
                {% else %}
                <div class="tenor-gif-embed" data-postid="14754639" data-share-method="host" data-aspect-ratio="2.17687" data-width="100%"><a href="https://tenor.com/view/tumbleweed-napa-dessert-windy-gif-14754639">Tumbleweed Napa GIF</a>from <a href="https://tenor.com/search/tumbleweed-gifs">Tumbleweed GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
                <p class="text-white text-center">Where is everything? <br>It must be your first season!</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

<!-- Value Modal -->
{% for member in league_info %}
  <div class="modal fade" id="teamValueModal{{member.team_id}}" tabindex="-1" role="dialog" aria-labelledby="teamValueModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="teamValueModalLabel">{{member.team_name}} - Team Value</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">    
              <div class="row">
                <div class="col-md-12">
                {%if member.team_id == sorted_value[0].team_id%}
                <div class="tenor-gif-embed" data-postid="4663117" data-share-method="host" data-aspect-ratio="1.30328" data-width="100%"><a href="https://tenor.com/view/swim-swimming-dough-rich-money-gif-4663117">Swimming In Money GIF</a>from <a href="https://tenor.com/search/swim-gifs">Swim GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
                <p  class="text-white text-center">Ri¢hie rich</p>
                {%endif%}
                  
                  <table class="table table-striped table-dark table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Game Week</th>
                      <th scope="col">Total Value</th>
                      <th scope="col">Team Value</th>
                      <th scope="col">Bank</th>
                      <th scope="col">GW Diff</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for i in range(1, member.total_points|length) %}
                            <tr>
                              <td>{{i}}</td>
                              <td>{{member.total_value[i]}}</td>
                              <td>{{member.team_value[i]}}</td>
                              <td>{{member.bank[i]}}</td>
                              <!--If statement used to determine triangle color-->
                              {% if member.gw_value_diff[i] < 0 %}
                                <td><span class="down-arrow">▼ </span>{{"%.2f"|format(member.gw_value_diff[i])}}</td>
                              {% elif member.gw_value_diff[i] > 0 %}
                                <td><span class="up-arrow">▲ </span>{{"%.2f"|format(member.gw_value_diff[i])}}</td>
                              {% else %}
                                <td> - </td>
                              {% endif %}
                            </tr>
                      {% endfor %} 
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}


{% for member in fpl_players %}
  <div class="modal fade" id="playerListModal{{member.team_id}}" tabindex="-1" role="dialog" aria-labelledby="playerListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title text-white" id="playerListModalLabel">{{member.team_name}} - Current Team</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              
              <div class="row justify-content-center">
                <div class="col-auto">
                  <table class="table table-responsive-sm table-dark table-striped table-hover w-auto table-sm text-xsmall">
                  <thead>
                    <tr class="player-table-font">
                      <th scope="col">Player</th>
                      
                      <th scope="col">Pos</th>
                      <th scope="col">Team</th>
                      <th scope="col">GW Net</th>
                      <th scope="col">Total Points</th>
                      <th scope="col">Form</th>
                      <th scope="col">Value</th>
                      <th scope="col">% Selected</th>
                      <th scope="col">% League</th>
                      {%if member.gw == member.is_current_gw %}
                        <th scope="col">Opp</th>
                      {% else %}
                        <th scope="col">Opp</th>
                        <th scope ="col">Next Opp</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                      {% for player in member.players %}
                      {% set home_away = '(H)' if player['is_home'] else '(A)' %}
                      
                        <tr class="align-middle player-table-font">
                          <td class="justify-content-center text-nowrap">
                            {% if player['sub_in'] %}
                                <span class="up-arrow">⮝ </span>
                            {% elif player['sub_out'] %}
                                <span class="down-arrow">⮟ </span>
                            {% endif %}
                          {{"Ronaldo" if player['second_name'] == "dos Santos Aveiro" else player['second_name'] }} 
                            {% if player['is_captain'] == True %}
                              <span class="align-text-top"><img  src="static/images/captain-icon.png" class="captain-vice-icon"></span> 
                            {% elif player['is_vice_captain'] == True%}
                              <span class="align-text-top"><img  src="static/images/vc-icon.png" class="captain-vice-icon"></span> 
                            {%endif%}
                          </td>
                          
                          <td class="text-center">{{player['position'][0]}}</td>
                          <td class="text-center">{{player['team']}}</td>
                          <td class="text-center">{{player['event_points'] * player['multiplier']}}</td>
                          <td class="text-center">{{player['total_points']}}</td>
                          <td class="text-center">{{player['form']}}</td>
                          <td class="text-center">{{player['now_cost'] / 10}} </td>
                          <td class="text-center">{{player['selected_by_percent']}} </td>
                          <td class="text-center">{{player_league_percent[player['id']]}}</td>
                          {% if member.is_current_gw == member.gw%}
                            <td><div class="container rounded text-nowrap text-center" style="{{player['opponent_diff_style']}}">{{player['opponent']}} {{home_away}}</div></td>
                          {% else %}
                            {% set prev_is_home = '(H)' if player['prev_is_home'] else '(A)' %}
                            <td><div class="container text-nowrap rounded text-center" style="{{player['prev_opponent_diff_style']}} ">{{player['prev_opponent']}} {{prev_is_home}}</div></td>
                            <td><div class="container text-nowrap rounded text-center" style="{{player['opponent_diff_style']}} ">{{player['opponent']}} {{home_away}}</div></td>
                          {% endif%}
                        </tr>
                        {% if loop.index == 11%}
                        <tr><th colspan="100" class="text-center"  style="border-bottom: 2px solid white; border-top: 2px solid white;">Bench</th></tr>
                      {% endif %}
                      {% endfor %} 
                  </tbody>
                </table>
              </div>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script>
let datajs = JSON.parse({{data | tojson}});
let labels =  datajs[0]['gw'];
let colors = ['#e6194b', '#3cb44b', '#ffe119', '#4363d8', '#f58231', '#911eb4', '#46f0f0', '#f032e6', '#bcf60c', '#fabebe', '#008080', '#e6beff', '#9a6324', '#fffac8', '#800000', '#aaffc3', '#808000', '#ffd8b1', '#000075', '#808080', '#ffffff', '#000000']

function createLineDataset(dataName){
  let datasetValue = [];
  for(let i = 0; i < datajs.length; i++){
    let val = {
        label: datajs[i]['team_name'],
        data: datajs[i][dataName],
        fill: false,
        borderColor: colors[i],
        tension: 0.1
    }
    datasetValue.push(val);
  };
  return datasetValue
}

const selectElement1 = document.getElementById('selectData1');
const selectElement2 = document.getElementById('selectData2');
const selectElement3 = document.getElementById('selectData3');
const selectElement4 = document.getElementById('selectData4');

function changeChart(data_string, title, chart){
  dataChange = {
      labels: labels,
      datasets: createLineDataset(data_string)
  }
  chart.data = dataChange;
  chart.options.scales.y.title.text = title.split(" ").splice(-1);
  chart.options.plugins.title.text = title;
  chart.update();
}

var ctx = document.getElementById('myChart1').getContext('2d');
var myChart1 = new Chart(ctx, {
    type: 'line',
    data: {
      labels: labels,
      datasets: createLineDataset('total_points')
    },
    options: {
      responsive: true,
      maintainAspectRatio: true,
      scales: {
        y: {
          grid: {
				lineWidth: 1
			},
          title:{
            display: true,
            text: 'Points'
            }
        },
        x: {
          grid: {
				lineWidth: 1
			},
          title:{
            display: true,
            text: 'Game Week'
            }
        },
      },
      point: {
		backgroundColor: 'white'
	},
      plugins: {
        legend:{
          position: 'left',
          
        },
        
        title: {
                display: true,
                align: 'center',
                font: {size: 18},
                text: 'Total Points',
                padding: {
                    top: 10,
                    bottom: 30
                }
        }
      }
    } 
});

var ctx2 = document.getElementById('myChart2').getContext('2d');
var myChart2 = new Chart(ctx2, {
    type: 'line',
    data: {
      labels: labels,
      datasets: createLineDataset('gw_points')
    },
    options: {
      responsive: true,
      maintainAspectRatio: true,
      scales: {
        y: {
          title:{
            display: true,
            text: 'Points'
            }
        },
        x: {
          title:{
            display: true,
            text: 'Game Week'
            }
        },
      },
      plugins: {
        legend:{
          position: 'left',
        },
        title: {
          display: true,
          font: {size: 18},
          text: 'Game Week Points',
          padding: {
              top: 10,
              bottom: 30
          }
        }
      }
    }
  
    
});

var ctx3 = document.getElementById('myChart3').getContext('2d');
var myChart3 = new Chart(ctx3, {
    type: 'line',
    data: {
      labels: labels,
      datasets: createLineDataset('total_transfer_cost')
    },
    options: {
      scales: {
        y: {
          title:{
            display: true,
            text: 'Points'
            }
        },
        x: {
          title:{
            display: true,
            text: 'Game Week'
            }
        },
      },
      plugins: {
        legend:{
          position: 'left',
        },
        title: {
                display: true,
                align: 'center',
                font: {size: 18},
                text: 'Total Transfer Hit Points',
                padding: {
                    top: 10,
                    bottom: 30
                }
        }
      }
    } 
});

var ctx4 = document.getElementById('myChart4').getContext('2d');
var myChart4 = new Chart(ctx4, {
    type: 'line',
    data: {
      labels: labels,
      datasets: createLineDataset('gw_transfer_cost')
    },
    options: {
      scales: {
        y: {
          title:{
            display: true,
            text: 'Points'
            }
        },
        x: {
          title:{
            display: true,
            text: 'Game Week'
            }
        },
      },
      plugins: {
        legend:{
          position: 'left',
        },
        title: {
                display: true,
                align: 'center',
                font: {size: 18},
                text: 'Game Week Transfer Hits',
                padding: {
                    top: 10,
                    bottom: 30
                }
        }
      }
    } 
});


selectElement1.addEventListener('change', (event) => {
  changeChart(selectElement1.value, String(selectElement1.options[selectElement1.selectedIndex].text), myChart1);
});
selectElement2.addEventListener('change', (event) => {
  changeChart(selectElement2.value, String(selectElement2.options[selectElement2.selectedIndex].text), myChart2);
});
selectElement3.addEventListener('change', (event) => {
  changeChart(selectElement3.value, String(selectElement3.options[selectElement3.selectedIndex].text), myChart3);
});
selectElement4.addEventListener('change', (event) => {
  changeChart(selectElement4.value, String(selectElement4.options[selectElement4.selectedIndex].text), myChart4);
});

</script>

{% endblock %}
