{% extends 'fplbase.html' %}

{% block head %}
{% endblock head%}

{% block body %}
<div class="flash_container">
  {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        <span>{{ message }}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

<div class="container-fluid">
  <div class="row justify-content-lg-center pt-3">

    <!--League Position Table-->
    <div class="container">
      <table class="table table-striped table-dark table-hover w-auto">
        <thead>
          <tr>
            <th scope="col">Pos</th>
            <th scope="col">Team</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
            {% for member in league_info %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{member.team_name}}</td>
                <td>{{member.total_points[-1]}}</td> 
            </tr>
            {% endfor %} 
        </tbody>
      </table>
    </div>
    
    <!--Charts-->
    <div class="main_wrapper">
      <div class="canvas_wrapper pb-3">
          <canvas id='myChart1'class="canvas chart-area"></canvas>
          <select class = "selectData1" id ='selectData1'>
            <option value = "total_points" selected>Total Points</option>
            <option value = "total_bench_points">Total Bench Points</option>
            <option value = "team_value">Team Value</option>
          </select> 
      </div>
      <div class="canvas_wrapper pb-3">
          <canvas id= 'myChart2' class="canvas chart-area"></canvas>
          <select class = "selectData2" id ='selectData2'>
            <option value = "gw_points" selected>Game Week Points</option>
            <option value = "gw_bench_points">Game Week Bench Points</option>
          </select>
      </div>
    </div>
    <div class="main_wrapper">
      <div class="canvas_wrapper pb-3">
          <canvas id='myChart3'class="canvas chart-area"></canvas>
          <select class = "selectData3" id ='selectData3'>
            <option value = "total_transfer_cost" selected>Total Transfer Hit Points</option>
            <option value = "total_transfers">Total Transfers</option>
          </select> 
      </div>
      <div class="canvas_wrapper pb-3">
          <canvas id= 'myChart4' class="canvas chart-area"></canvas>
          <select class = "selectData4" id ='selectData4'>
            <option value = "gw_transfer_cost" selected>Game Week Transfer Hits</option>
            <option value = "gw_transfers">Game Week Transfers</option>
          </select>
      </div>
    </div>

  </div>              
    <div class="row justify-content-md-center pt-3">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form bg-light p-4 home-form border border-info border-2 rounded-3 shadow">
            <form method='POST' action='/selectteam' class="needs-validation" novalidate>
                <div class="mb-3">
                  <label for="leagueID" class="form-label">Team ID 
                    <button type="button" class="btn btn-sm " data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <!-- Help Icon -->
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-square mb-1" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                      </svg>
                    </button>
                  </label>
                  <input type="text" class="form-control" id="userID" name="userID" pattern="[0-9]{7}" placeholder="Enter a valid team ID" aria-describedby="userIDHelp" required>
                  <div class="invalid-feedback text-center">
                    Please enter a vaild team ID. Must be 7 numbers.
                  </div>
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">How to find your team ID</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <img src="https://lh3.googleusercontent.com/0iHwFz38mIh0sKKZ0JmRCSMTwvb5efIbQMy8Z1bkFJN7GpuaZWPSoXBbVvbpn_xAoJDDA_pRE3LRW9XW-Nb5xl1BVH73LtnCjHMXo94ERrrpQeW3YgTH5Bmy16n53jHftG9aLFu5qQ=w2400" class="img-fluid">
              </div>
              
            </div>
          </div>
        </div>
    </div>
</div>


<script>
  var forms = document.querySelectorAll('.needs-validation');

 // Loop over them and prevent submission
Array.prototype.slice.call(forms)
.forEach(function (form) {
    form.addEventListener('submit', function (event) {
    if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
    }

    form.classList.add('was-validated');
    }, false);
});
</script>

<script>
let datajs = JSON.parse({{data | tojson}});
let labels =  datajs[0]['gw'];
let colors = ['#e6194b', '#3cb44b', '#ffe119', '#4363d8', '#f58231', '#911eb4', '#46f0f0', '#f032e6', '#bcf60c', '#fabebe', '#008080', '#e6beff', '#9a6324', '#fffac8', '#800000', '#aaffc3', '#808000', '#ffd8b1', '#000075', '#808080', '#ffffff', '#000000']


function createLineDataset(dataName){
  let datasetValue = [];
  for(let i = 0; i < datajs.length; i++){
    let val = {
        label: datajs[i]['team_name'],
        data: datajs[i][dataName],
        fill: false,
        borderColor: colors[i],
        tension: 0.1
    }
    datasetValue.push(val);
  };
  return datasetValue
}


const selectElement1 = document.getElementById('selectData1');
const selectElement2 = document.getElementById('selectData2');
const selectElement3 = document.getElementById('selectData3');
const selectElement4 = document.getElementById('selectData4');

function changeChart(data_string, title, chart){
  dataChange = {
      labels: labels,
      datasets: createLineDataset(data_string)
  }
  chart.data = dataChange;
  chart.options.scales.y.title.text = title.split(" ").splice(-1);
  chart.options.plugins.title.text = title;
  chart.update();
}

var ctx = document.getElementById('myChart1').getContext('2d');
var myChart1 = new Chart(ctx, {
    type: 'line',
    data: {
      labels: labels,
      datasets: createLineDataset('total_points')
    },
    options: {
      scales: {
        y: {
          title:{
            display: true,
            text: 'Points'
            }
        },
        x: {
          title:{
            display: true,
            text: 'Game Week'
            }
        },
      },
      plugins: {
        legend:{
          position: 'left',
          
        },
        title: {
                display: true,
                align: 'center',
                font: {size: 18},
                text: 'Total Points',
                padding: {
                    top: 10,
                    bottom: 30
                }
        }
      }
    } 
});

var ctx2 = document.getElementById('myChart2').getContext('2d');
var myChart2 = new Chart(ctx2, {
    type: 'line',
    data: {
      labels: labels,
      datasets: createLineDataset('gw_points')
    },
    options: {
      scales: {
        y: {
          title:{
            display: true,
            text: 'Points'
            }
        },
        x: {
          title:{
            display: true,
            text: 'Game Week'
            }
        },
      },
      plugins: {
        legend:{
          position: 'left',
        },
        title: {
          display: true,
          color: '#000000',
          font: {size: 18},
          text: 'Game Week Points',
          padding: {
              top: 10,
              bottom: 30
          }
        }
      }
    }
  
    
});

var ctx3 = document.getElementById('myChart3').getContext('2d');
var myChart3 = new Chart(ctx3, {
    type: 'line',
    data: {
      labels: labels,
      datasets: createLineDataset('total_transfer_cost')
    },
    options: {
      scales: {
        y: {
          title:{
            display: true,
            text: 'Points'
            }
        },
        x: {
          title:{
            display: true,
            text: 'Game Week'
            }
        },
      },
      plugins: {
        legend:{
          position: 'left',
        },
        title: {
                display: true,
                align: 'center',
                font: {size: 18},
                text: 'Total Transfer Hit Points',
                padding: {
                    top: 10,
                    bottom: 30
                }
        }
      }
    } 
});

var ctx4 = document.getElementById('myChart4').getContext('2d');
var myChart4 = new Chart(ctx4, {
    type: 'line',
    data: {
      labels: labels,
      datasets: createLineDataset('gw_transfer_cost')
    },
    options: {
      scales: {
        y: {
          title:{
            display: true,
            text: 'Points'
            }
        },
        x: {
          title:{
            display: true,
            text: 'Game Week'
            }
        },
      },
      plugins: {
        legend:{
          position: 'left',
        },
        title: {
                display: true,
                align: 'center',
                font: {size: 18},
                text: 'Game Week Transfer Hits',
                padding: {
                    top: 10,
                    bottom: 30
                }
        }
      }
    } 
});


selectElement1.addEventListener('change', (event) => {
  changeChart(selectElement1.value, String(selectElement1.options[selectElement1.selectedIndex].text), myChart1);
});
selectElement2.addEventListener('change', (event) => {
  changeChart(selectElement2.value, String(selectElement2.options[selectElement2.selectedIndex].text), myChart2);
});
selectElement3.addEventListener('change', (event) => {
  changeChart(selectElement3.value, String(selectElement3.options[selectElement3.selectedIndex].text), myChart3);
});
selectElement4.addEventListener('change', (event) => {
  changeChart(selectElement4.value, String(selectElement4.options[selectElement4.selectedIndex].text), myChart4);
});

</script>

{% endblock %}
