{% extends 'fplbase.html' %}

{% block head %}
{% endblock head%}

{% block body %}

<div class="container">
    <div class="row justify-content-md-center pt-3">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form bg-light p-4 home-form border border-info rounded-4 shadow">
            <div class="d-grid gap-2">
                <form method='POST' action='/check-data' class="needs-validation" novalidate> 
                    <div class="form-group">
                      <fieldset>
                        <legend class = "text-center text-truncate ">Select a league!</legend>
                        {% for league, rank in league_info.items() %}
                        <div class="row justify-content-md-center mt-2">
                            <button type="submit" name="select_league" class="btn btn-outline-primary btn-lg" value="{{rank}}">{{ league }}</button>
                        </div>
                        {% endfor %}
                          
                        </fieldset>
                      </div>
                    </form>
                
           </div>
        </div>
    </div>
    
</div>


{% endblock %}