body{
    background-color: rgb(191, 191, 191); 
}

.rank-response{
    font-weight: bold;
}

.main_wrapper{
    display: flex;
    flex-wrap: row;
    justify-content: center;
}
.canvas_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color:ghostwhite;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
.canvas{
    width: 100%;
    height: auto;
    /* background-color: #22293d; */
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    float:none;
}

caption { 
    caption-side:top; 
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.vertically-centered {
    display: inline-block;
    vertical-align: middle;
}

.modal-dialog {
    position: relative;
    display: table;
    overflow: auto;
    width: auto;
    min-width: 300px;
}

.modal-body { /* Restrict Modal width to 90% */
    overflow-x: auto !important;
    max-width: 90vw !important;
}

.up-arrow{
    color: #00e823;
}

.down-arrow{
    color: red;
}

.captain-vice-icon{
    height:1.5em;
    width:1.5em;
}

.chip-icon{
    height:2.5em;
    width:2.5em;
    padding:0px;
    margin: 0px;
}

.table-wrapper {
    max-height: 350px;
    width: 100%;
    overflow: auto;
    display:inline-block;
}

.center-chip-icon{
    padding:0px !important;
    margin: 0px !important;
}
.player-table-font{
    font-size: 12px;
}

.team-player-table{
    font-size: 12px;
}
.league-table{
    font-size: 14px;
}

.value-table{
    font-size: 12px;
}

.seasons-table{
    font-size: 12px;
}

.prev-pos{
    font-size: 12px;
}