body{
    background-color: rgb(191, 191, 191); 
}

.rank-response{
    font-weight: bold;
}

.main_wrapper{
    display: flex;
    flex-wrap: row;
    justify-content: center;
}
.canvas_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
.canvas{
    width: 100%;
    height: auto;
    
   
    /* background-color: #22293d; */
}
